@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    max-width: 800px;
    margin: 0 auto;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    
}

.image-container {
    position: relative;
    display: inline-block;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 5s; 
    -webkit-user-drag: element;
}

.image-container.selected {
    border: 2px solid blue;
}


img {
    max-width: 100%;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    font-weight:bolder;
}
.controls a{
    cursor: pointer;
    color: rgb(109, 14, 14);
}

button:hover {
    background: #0056b3;
}

.checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
}

  